/* $maxWidth : 960px;
$cardWidth : 100px;
$cardHeight : 130px;

$colorMain : #3498db;
$colorMainDarker : #2980b9;
$colorSecundary : #9b59b6;
$colorSecundaryDarker : #9b59b6; */

html, body {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #eeeeee;
	font-family: 'helvetica', sans-serif;
	font-size: 16px;
	transform: translate3d(0,0,0);
}

.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	min-height: 100%;
	margin: 0px auto;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.element-card {
	position: relative;
	width: 100px;
	height: 130px;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
	margin: 20px;
	cursor: pointer;
	/*done this*/
    border-radius: 25px;
}
.element-card:hover {
	transform: scale(1.3);
}

	.open {
		/*width was 200px,height was 260px changed it*/
		width: 220px;
		height: 300px;
		transform: rotatey(-180deg) translatex(0px) translatey(0px);
	}
	
	.front-facing {
		transform: rotateY( 0deg ) translateZ( 2px );
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ecf0f1;
		border: 2px white solid;
        border-radius: 15px;/*this was 5px*/
    }
	.abr {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			margin: -35px 0 0 0;
			text-align: center;
			color: #3498db;
		}
.title {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			text-transform: uppercase;
			font-size: 12px;
			margin: 15px 0 0 0;
			text-align: center;
			color: #3498db;
}
.tnumber {
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 12px;
			color: #2980b9;
		}
	
	.back-facing {
		transform: rotateY( 180deg ) translateZ( 0px );
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ecf0f1;
		border: 2px white solid;
		border-radius: 15px;/*this was 5px*/
		padding: 20px;
		text-align: center;
        overflow: hidden;
    }
		p {
			font-size: 11px;
			margin: 0;
		}
		a.btn {
			display: inline-block;
			background-color: white;
			padding: 5px 15px;
			margin: 20px 0 0 0;
			color: #eee;
			background-color: #3498db;
			text-decoration: none;
            border-radius: 3px;
        }


		 .element-card:hover {
                color: #000000;
			}

/*Responsiveness*/
@media screen and (min-width: 960px){
	.tracks h1{
		font-size: 40px;
	}
	.tracks .container .element-card .front-facing h1{
		font-size: 40px;
	}
	.tracks .container .element-card .front-facing p{
		font-size: 12px;
	}
	.schedule h1{
		font-size: 40px;
	}
	.faq h1{
		font-size: 40px;
	}
	.faq .container .accordion .accordion-question h3{
		font-size: 21px;
	}
	.faq .container .accordion .accContent .contnet-inner p{
		font-size: 15px;
	}
}

@media screen and (max-width: 960px){
	.tracks h1{
		font-size: 23px;
	}
	.tracks .container .element-card .front-facing h1{
		font-size: 30px;
	}
	.tracks .container .element-card .front-facing p{
		font-size: 10px;
	}
	.schedule h1{
		font-size: 23px;
	}
	.faq h1{
		font-size: 23px;
	}
	.faq .container .accordion .accordion-question h3{
		font-size: 14px;
	}
	.faq .container .accordion .accContent .contnet-inner{
		font-size: 11px;
	}
}