.about{
	cursor: pointer;
	color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 30px;
}

.about h2 {
	opacity: .8;
}

.wavy-heading1, .wavy-heading2{
	position: relative;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
	white-space: nowrap;
}

.wavy-heading1 span{
	position: relative;
	display: inline-block;
	font-size: 3em;
	text-transform: uppercase;
	animation: animate34 2s ease-in-out infinite;
}

 .wavy-heading2 span{
	 position: relative;
 	display: inline-block;
 	font-size: 3em;
 	text-transform: uppercase;
 	animation: animate34 2s ease-in-out infinite;
 	animation-delay: calc(0.1s * var(--i));
 }

@keyframes animate34 {
  0%
	{
		transform: translateY(0px);
	}
	20%
	{
		transform: translateY(-20px);
	}
	40%, 100%
	{
		transform: translateY(0px);
	}
}

.row1 span {
	display: grid;
	grid-column-gap: 10px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin:auto;
	border-radius:50%;
	font-size: 40px;
	color: #FFFFFF;
	opacity: 0.7;
	background-color: #000;
	border: 2px solid #000;

	webkit-transition:all .5s ease;
 	moz-transition:all .5s ease;
 	os-transition:all .5s ease;
 	transition:all .5s ease;
}

.about-item:hover span{
	opacity: 1;
	border: 2px solid #fff;
	font-size: 42px;
	-webkit-transform: scale(1.1,1.1) rotate(360deg) ;
	-moz-transform: scale(1.1,1.1) rotate(360deg) ;
	-o-transform: scale(1.1,1.1) rotate(360deg) ;
	transform: scale(1.1,1.1) rotate(360deg) ;
}

.about-item:hover h2{
	opacity: 1;
	-webkit-transform: scale(1.1,1.1)  ;
	-moz-transform: scale(1.1,1.1)  ;
	-o-transform: scale(1.1,1.1)  ;
	transform: scale(1.1,1.1) ;
}
.about .lead{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	visibility: hidden;
  opacity: 0;
}

.about-item:hover .lead{
	visibility: visible;
  opacity: 1;
	-webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.abt .box
{
	  border: 1px solid #000;
    margin: 40px 200px;
    padding: 30px 20px;
		border-radius: 8px;
		justify-content: center;
}


.abt p{
    font-weight: 400;
    font-size: 20px;
		color: black;
		transition: 0.5s;
}
